<div>
  <mat-toolbar class="header">myPlant</mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav opened mode="side">
      <mat-card class="example-card">
        <plant-navigation></plant-navigation>
      </mat-card>
    </mat-sidenav>
    <mat-sidenav opened mode="side" position="end">
      <mat-card class="example-card">
        <plant-plant-reminder></plant-plant-reminder>
      </mat-card>
    </mat-sidenav>
    <section>Main
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </section>
  </mat-sidenav-container>
  <mat-toolbar class="footer">Footer</mat-toolbar>
</div>