<div class="row">
  <div class="col-md-12">
    <div>
      <button mat-raised-button (click)="navigate()">Add a Plant!!</button>
    </div>
    <div *ngIf="plantsLoading$ | async as loader; else content">
      LOADING..
    </div>
    <ng-template #content>
      <div *ngIf="plants$ | async as plants">
        <div *ngIf="plants.length > 0">
          <br/>
          <div *ngFor="let plant of plants">
            <mat-card plantMatElevationHover [defaultElevation]="defaultElevation" style="cursor: pointer;">
              <mat-card-title>
                  {{plant.familyName}}
              </mat-card-title>
              <mat-card-subtitle>
                {{plant.scientificName}}
              </mat-card-subtitle>
            </mat-card>
            <br/>
          </div>
        </div>
        <div *ngIf="plants.length === 0">
          no plants!
        </div>
      </div>
    </ng-template>
  </div>
  <div class="col-md-12">
    some other section
  </div>
</div>