<div class="row">
  <div class="col-md-12">
    <div *ngIf="plantsLoading$ | async as loader; else content">
      LOADING..
    </div>
    <ng-template #content>
      <div *ngIf="plants$ | async as plants">
        <div *ngIf="plants.length > 0">
          <mat-card>
            <mat-card-content>
              <div class="mat-display-1">
                Welcome to myPlant, where you'll never have to wonder when it is time to feed your green friends.
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div *ngIf="plants.length === 0">
          not sure yet
        </div>
      </div>
    </ng-template>
  </div>
  <div class="col-md-12">
    
  </div>
</div>