<div class="row">
  <div class="col-md-12">
    <div *ngIf="plantsLoading$ | async as loader; else content">
      LOADING..
    </div>
    <ng-template #content>
      <div class="mat-display-3">
        Welcome to myPlant, where you'll never have to wonder when it is time to feed your green friends.
      </div>
      <div *ngIf="plants$ | async as plants">
        <div *ngIf="plants.length > 0">
          you got plants!
          <div *ngFor="let plant of plants">
            <mat-card plantMatElevationHover [defaultElevation]="defaultElevation">
              <mat-card-title>
                  {{plant.familyName}}
              </mat-card-title>
              <mat-card-subtitle>
                {{plant.scientificName}}
              </mat-card-subtitle>
            </mat-card>
            <br/>
          </div>
        </div>
        <div *ngIf="plants.length === 0">
          no plants!
        </div>
      </div>
    </ng-template>
  </div>
  <div class="col-md-12">
    some other section
  </div>
</div>